<h1>Items</h1>
<% @collection.items.each do |item| %>
  <%= item.name %>
<% end %>

<div class="row mt-5 mb-5">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Tag</th>
        <th scope="col">Created</th>
      </tr>
    </thead>
    <tbody>
      <% @collection.items.each do |item| %>
        
          <tr>
            <td><%= item.name %></td>
            <td><%= item.tag %></td>
            <td><%= item.created_at %></td>
            <td><% if user_signed_in? && current_user == item.user %>
            
              <%= link_to "Delete", collection_item_path(@collection, item), class: "btn btn-danger", data: {"turbo-method": :delete} %>
          <% end %></td>
          </tr>
        
      <% end %>
    </tbody>
  </table>
</div>